body {
  font-family: Boogaloo, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

nav {
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.333em;
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0 140px;
  text-align: center;
  width: auto;

}

nav a:hover {
  background-color: none;
}

header {
  background: white;
}

#logo {
  text-align: center;
  padding-top: 25px;
}

.owl-carousel {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
}

/*.owl-prev {
  width: 10%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -40px;
}

.owl-next {
  width: 20%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -30px;
}*/

#prev {
  height: 100px;
  width: 38px;
  /*background-image: url("../images/left1.png");*/
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 3;
  display: none;

}

#next {
  height: 61px;
  width: 38px;
  /*background-image: url("../images/right1.png");*/
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 3;
}


